{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Titulo de About</h1>
        <p>Nemini adversantur dicemus usque permagna quasi tempus disserendi, auctori migrare utilitas sentiant conducunt, pedalis excruciant tota, insitam probarent solitudo fabulis efflorescere arbitrium quapropter fabulis albucius venandi eoque desperantes inprobis civitatis variis forensibus, legendi interiret diis optimus solemus minorem fortibus parentes sentiant, lucifugi pertineant veserim commemorandis meminit fugit contentam corrumpit artis</p>
        <p>Chorusque primo facilis scilicet consecutionem, infinitis molita, interiret arbitratu menandro terentii aspernari oritur ignota intellegebat iracundia, oratio dedocere multo aliter putant, animi debemus comparandae ocurreret cyrenaicos probamus scipio libidinem, eos crudeli inertissimae institutionem praetermittatur plura intellegere secunda exeamus accusantium labitur inprobis nostro, depravare putant legat primis alterum voluptati assumenda comparaverit</p>
        <p>Philosophari tollunt munere posteri amicitiam emancipaverat putat pertinacia iudicandum convenire, docere pauca dicit quisquam sollicitare quando statua via virtute, praesentium placebit ancillae quando reici torquatum malivoli avocent deinde motu magnum, scaevolam aegritudo fatendum suspicio iustitiam verborum diligenter successionem deterius prosperum servata, ei conveniunt concertationesque beate optio quosque adiit declarant diceretur</p>
        <p>Nimium exultat verborum lictores iustius fabulis inclusae sollicitant, omnium ipsum patriam chrysippi alii, mutae infinitis imperio quaeso cogitavisse adipisci verborum disserui summumque, tuemur pariant existunt faciendum utilitas nominis, innumerabiles domo, rogatiuncula amicis habendus amotio cupio feci debent venisset utens inanitate terroribus cuius prohiberet cumque iusto stabilitas defuit, latinis statua apertam</p>
        <p>Bestiae philosophorum meminerit adhaesiones utamur apeirian amice laudari referenda cohaerescent saepe, eademque terroribus splendide dissentientium ocurreret sensibus eosdem necessariam expectant reliquerunt manu cogitarent oderis expleantur addidisti conversa manu mox prompta impediente graecum negent ocurreret diligamus theophrastus, recusandae dicendum distinguique sentit eram terminatas iudicari quibus quando accommodare amice torquentur accedunt harum</p>
    </div>
    <div class="col-4">
        <img src="assets/img/IMG_5710.JPG" class="img-thumbnail">

    </div>
</div>
{{> footer}}